[Desktop Entry]
Type=Application
Name=Libreoffice
Comment=Libreoffice
Exec=libreoffice
Icon=kitty
Terminal=false
Categories=Utility;
StartupNotify=false
