[Desktop Entry]
Type=Application
Name=Weather
Comment=Weather TUI in kitty
Exec=zsh -c ". ~/.zshrc && $DOTFILES_PATH/scripts/weather-launcher.sh"
TryExec=kitty
Terminal=false
Icon=kitty
Categories=Utility;
StartupNotify=false
Keywords=weather
